body {
  overflow-x: hidden;
}
#parallax__cont {
  overscroll-behavior: none;
  width: 900%;
  height: 100vh;
  display: flex;
}

#section1 {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  position: relative;
}

#section1 .img {
  width: 50vh;
  height: 80vh;
  visibility: hidden;
  overflow: hidden;
}

#section1 .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform-origin: left;
}

#section1 .circle {
  width: 200px;
  height: 200px;
  line-height: 200px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  position: absolute;
  left: 40vh;
  top: 67vh;
  text-align: center;
  font-family: Jura;
  font-size: 20px;
  text-transform: uppercase;
}

#section1 .desc {
  color: #333;
  width: 35vh;
  font-family: "IropkeBatang";
  margin-left: 6vh;
  margin-top: 4vh;
  line-height: 1.5;
}

#section1 .desc span {
  display: inline-block;
  text-align: right;
  width: 35vh;
  margin-top: 10vh;
  color: #666;
}

#section1 .text-wrap {
  margin-left: 30vh;
}

#section1 .text-wrap > div {
  color: #000;
  font-size: 47vh;
  font-family: "Cormorant Garamond";
  line-height: 0.7;
  text-transform: uppercase;
  font-weight: 100;
  position: relative;
  z-index: 100;
}

#section1 .text-wrap > div:nth-child(2) {
  padding-left: 50vh;
}

#section1 .text-wrap > div:nth-child(3) {
  padding-left: 10vh;
}

#section1 .about {
  width: 70vh;
  height: 100vh;
  overflow: hidden;
  margin-left: -100vh;
  visibility: hidden;
}

#section1 .about img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
  transform-origin: left;
}

#section1 .about-text {
  color: #616161;
  width: 90vh;
  margin-left: -5vh;
  font-family: "IropkeBatang";
  font-family: "ChosunNm";
  font-size: 3.5vh;
  padding: 1vh 0;
  white-space: pre;
  line-height: 1.5;
  margin-right: 50vh;
  position: relative;
}

#section1 .about-text em {
  padding: 5vh;
}

#section1 .about-text .add1 {
  width: 34vh;
  font-size: 1.6vh;
  white-space: normal;
  line-height: 1.3;
  position: absolute;
  margin-top: 5vh;
  left: 10vh;
  bottom: 20vh;
  text-align: justify;
  color: #858585;
}

#section1 .about-text .add2 {
  width: 34vh;
  font-size: 1.6vh;
  white-space: normal;
  line-height: 1.3;
  position: absolute;
  margin-top: 5vh;
  left: 50vh;
  bottom: 22.5vh;
  text-align: justify;
  color: #858585;
}
//반응형
@media (max-height: 750px) {
  #section1 .circle {
    width: 150px;
    height: 150px;
    line-height: 150px;
  }

  @media (max-height: 650px) {
    #section1 .circle {
      width: 150px;
      height: 150px;
      line-height: 150px;
    }
  }
}

//section1
