#section4 {
  display: flex;
  flex-wrap: nowrap;

  .deco__wst3 {
    width: 600vh;
    // border-bottom: 2px solid #000;
    border-top: 2px solid #000;
    // text-decoration: line-through;
    display: inline-block;
    position: absolute;
    left: -270vh;
    top: 0;
    text-transform: uppercase;
    font-family: "Cormorant Garamond";
    font-size: 20vh;
    font-weight: 100;
  }
  .php__wrap {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    padding: 10vh 0;
    margin-left: 55vh;
    .php__img {
      width: 60vh;
      height: 80vh;
      visibility: hidden;
      overflow: hidden;
      object-fit: cover;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        transform-origin: left;
        filter: brightness(0.9);
      }
    }
  }
  .php__text__wrap {
    width: 50vh;
    position: relative;
    padding: 10vh 0;
    margin-left: 15vh;
    h3 {
      width: 50vh;

      text-align: right;
      font-family: jura;
      font-size: 5vh;
      margin-bottom: 10vh;
    }
    .php__desc {
      word-break: keep-all;
      text-align: right;
      width: 50vh;
      color: #616161;
      font-weight: 100;
      font-size: 1.6vh;
      margin-bottom: 10vh;
    }
    .php__desc__e {
      word-break: break-all;
      text-align: left;
      width: 33vh;
      color: #8b9b8e;
      font-weight: 100;
      font-size: 1.5vh;
    }
    .php__desc__e2 {
      word-break: break-all;
      text-align: left;
      width: 33vh;
      color: #8b9b8e;
      font-weight: 100;
      font-size: 1.5vh;
    }
    .circle4 {
      position: absolute;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      // border: 2px solid #000;
      background-color: #adc0dd;
      text-align: center;
      line-height: 200px;
      color: #fff;
      font-size: 3vh;
      font-family: "Cormorant Garamond";
      left: -27vh;
      top: 40vh;
      transition: all 0.5s;
      &:hover {
        transform: rotate(360deg);
      }
    }
  }
}
//반응형
@media (max-height: 700px) {
  #section4 {
    .circle4 {
      width: 150px !important;
      height: 150px !important;
      line-height: 150px !important;
    }
  }
}
@media (max-height: 600px) {
  #section4 {
    .circle4 {
      width: 100px !important;
      height: 100px !important;
      line-height: 100px !important;
    }
  }
}
