body {
  height: 100vh;
  overflow-x: hidden;
  overflow: -moz-hidden-unscrollable;
}
#parallax__cont {
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
}

.parallax__item {
  height: 100vh;
  position: relative;
  font-size: 40px;
}

/* section1 */
#section1 {
  display: flex;
  flex-wrap: nowrap;
  background-color: #fff;
}
#section1 .img {
  width: 50vh;
  height: 80vh;
  /* visibility: hidden; */
  overflow: hidden;
}
#section1 .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform-origin: left;
}
#section1 .circle {
  width: 20vh;
  height: 20vh;
  line-height: 20vh;
  border-radius: 50%;
  background-color: #000000;
  position: absolute;
  left: 40vh;
  top: 67vh;
  text-align: center;
  font-family: Jura;
  font-size: 1.9vh;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  transition: all 0.2s;
  font-weight: 600;
}
#section1 .desc {
  color: #333;
  width: 36vh;
  font-family: "IropkeBatang";
  margin-left: 6vh;
  margin-top: 4vh;
  margin-right: 6vh;
  line-height: 1.5;
  font-size: 1.6vh;
}
#section1 .desc span {
  display: inline-block;
  text-align: right;
  width: 100%;
  margin-top: 10px;
  color: #666;
}
#section1 .text-wrap {
  margin-left: 30vh;
}
.text-wrap > div {
  color: #000;
  font-size: 47vh;
  font-family: "Cormorant Garamond";
  line-height: 0.7;
  text-transform: uppercase;
  font-weight: 100;
  position: relative;
  z-index: 100;
}
.text-wrap > div:nth-child(2) {
  padding-left: 50vh;
}
.text-wrap > div:nth-child(3) {
  padding-left: 10vh;
}
#section1 .about {
  width: 700px;
  height: 100vh;
  overflow: hidden;
  margin-left: -200px;
}
#section1 .about img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
  transform-origin: left;
}
#section1 .about-text {
  color: #222;
  width: 150vh;
  font-family: "IropkeBatang";
  font-family: "ChosunNm";
  font-size: 3.4vh;
  padding: 10px 80px;
  white-space: pre;
  line-height: 1.5;
  position: relative;
}
#section1 .about-text em {
  position: relative;
  color: #fff;
  padding: 5px;
}
// #section1 .about-text em::after {
//   content: "";
//   position: absolute;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   background-color: #000000;
//   color: #fff;
//   z-index: -1;
// }
#section1 .about-text .s_bg {
  position: absolute;
  left: 68vh;
  top: 6.7vh;
  z-index: -100;
  width: 11vh;
  height: 4.7vh;
  background-color: #000;
}
#section1 .about-text .add1 {
  width: 340px;
  font-size: 14px;
  white-space: normal;
  line-height: 1.3;
  position: absolute;
  left: 80px;
  bottom: 60px;
  text-align: justify;
  color: #858585;
}
#section1 .about-text .add2 {
  width: 340px;
  font-size: 14px;
  white-space: normal;
  line-height: 1.3;
  position: absolute;
  left: 470px;
  bottom: 40px;
  text-align: justify;
  color: #858585;
}
#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
#loading.hidden {
  opacity: 0;
}
/* 로딩 수치 스타일 */
#loading-text {
  font-size: 60px;
  color: #ffffff;
}
@media (max-height: 650) {
  body {
    height: auto;
    overflow-y: auto;
    #parallax__cont {
      height: auto;
    }
  }
}
