#section7 {
  width: 1800px;
  display: flex;
  background-color: #000000;
  overflow: hidden;
  .contact__start {
    text-align: center;
    height: 100vh;
    line-height: 100vh;
    width: 200px;
    color: #ffffff;
    border-right: 1px dotted #ffffff;
    border-left: 1px dotted #ffffff;
  }
  .contact__wrap {
    width: calc(100% - 500px);
    margin: 0 20vh;
    overflow: hidden;
    .ti2 {
      text-align: center;
      color: #ffffff;
      font-size: 20vh;
      font-family: "Cormorant Garamond";
      text-transform: uppercase;
    }
    .contact__info {
      padding-right: 2vh;
      padding-left: 5vh;
      width: 100%;
      display: flex;
      height: 30vh;
      justify-content: space-between;
      .info {
        width: 50%;
        color: #ffffff;
        font-size: 4vh;
      }
      .icon__link {
        width: 70%;
        margin-top: 10vh;
        padding-top: 5vh;
        display: flex;
        justify-content: space-between;
        .github {
          position: relative;
          font-size: 2vh;
          margin-top: 10vh;
          &::before {
            position: absolute;
            content: "";
            width: 60px;
            height: 60px;
            background-image: url(../src/assets/images/github.png);
            left: -5%;
            top: -250%;
            background-position: center;
            background-size: cover;
          }
        }
        .blog {
          position: relative;
          font-size: 2vh;
          margin-top: 10vh;
          &::before {
            position: absolute;
            content: "";
            width: 60px;
            height: 60px;
            background-image: url(../src/assets/images/blog.png);
            left: -35%;
            top: -250%;
            background-position: center;
            background-size: cover;
          }
        }
        .inst {
          position: relative;
          font-size: 2vh;
          margin-top: 10vh;
          &::before {
            position: absolute;
            content: "";
            width: 60px;
            height: 60px;
            background-image: url(../src/assets/images/ins.png);
            left: 15%;
            top: -250%;
            background-position: center;
            background-size: cover;
          }
        }
      }
      .img__2 {
        width: 30%;
        background-color: #97d139;
        position: relative;
        &:hover {
          &::before {
            position: absolute;
            content: "kimhyeonbeen";
            text-transform: uppercase;
            width: 200px;
            height: 100px;
            top: 62%;
            letter-spacing: 15px;
            font-size: 20px;
            color: #ffffff;
            transform: rotate(90deg);
            left: -43%;
          }
        }
      }
    }
  }
  .contact__menu {
    width: 300px;
    border-left: 1px solid #ffffff;
  }
}

//반응형
@media (max-height: 750px) {
  #section7 {
    .github {
      &::before {
        left: -15% !important;
        top: -400% !important;
      }
    }
    .blog {
      &::before {
        left: -55% !important;
        top: -400% !important;
      }
    }
    .inst {
      &::before {
        left: 2% !important;
        top: -400% !important;
      }
    }
  }
}
@media (max-height: 650px) {
  #section7 {
    .github {
      &::before {
        left: -33% !important;
        top: -400% !important;
      }
    }
    .blog {
      &::before {
        left: -78% !important;
        top: -400% !important;
      }
    }
    .inst {
      &::before {
        left: -2% !important;
        top: -400% !important;
      }
    }
  }
}
