/* section2 */
#section5 {
  width: 150vh;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  background-color: #ffffff;
  .contact__wrap {
    margin-left: -5vh;
    background-color: #ffffff;
    padding: 8vh 5vh;
    h3 {
      margin-left: -40vh;
      font-family: "Cormorant Garamond";
      text-align: right;
      font-size: 5vh;
      text-transform: uppercase;
      border-bottom: 1px solid #c5c5c5;
      margin-bottom: 10vh;
    }
    .contact__link {
      text-align: right;
      font-size: 2vh;
      margin-bottom: 30vh;
      div {
        margin-bottom: 1vh;
        em {
          text-align: left;
        }
      }
      .name {
      }
      .birth {
      }
      a {
        display: inline-block;
      }
      .tel {
      }
    }
    .footer {
      width: 80vh;
      border-top: 1px solid #c5c5c5;
      display: flex;
      ul {
        font-size: 3vh;
        margin-right: 20vh;

        li {
          font-size: 1.5vh;
          margin-top: 1vh;
          transition: all 0.3s;

          &:hover {
            text-decoration: underline;
            text-underline-position: under;
          }
          a {
          }
        }
      }
    }
    .sns {
      margin-top: 5vh;
      margin-left: -5vh;

      .git {
        font-size: 1.5vh;
        margin-left: 1vh;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          width: 5vh;
          height: 5vh;
          left: 0;
          top: -6vh;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;

          background-image: url(../src/assets/images/icon__git.svg);
        }
      }
      .inst {
        font-size: 1.5vh;
        margin-left: 1vh;
        position: relative;
        // transition: all 0.3s;
        // &:hover {
        //   transform: scale(105%);
        // }
        &::before {
          content: "";
          position: absolute;
          width: 5vh;
          height: 5vh;
          left: 1vh;
          top: -6vh;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;

          background-image: url(../src/assets/images/icon__i.svg);
        }
      }
      .blog {
        font-size: 1.5vh;
        margin-left: 1vh;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          width: 5vh;
          height: 5vh;
          left: 0;
          top: -6vh;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          background-image: url(../src/assets/images/icon__t.svg);
        }
      }
    }
  }
}
#section5 .arrow {
  width: 60vh;
  height: 100vh;
  background-color: #000000;
  border-left: 2px solid #000000;
  position: relative;
  margin-right: 30vh;
}
#section5 .arrow em {
  position: absolute;
  left: 22vh;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
  color: #ffffff;
  font-family: "Poppins";
  font-size: 2vh;
  text-transform: uppercase;
}
#section5 .arrow::before {
  content: "";
  // width: 70.2vh;
  width: 200vh;

  height: 1px;
  background-color: #000;
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: left top;
  transform: rotate(134.5deg);
  // transform: rotate(45.5deg);
}
#section5 .arrow::after {
  content: "";
  // width: 70.2vh;
  width: 200vh;
  height: 1px;
  background-color: #000;
  position: absolute;
  left: 0;
  bottom: 0;
  transform-origin: left bottom;
  transform: rotate(225.5deg);
  // transform: rotate(-45deg);
}
