/* section2 */
#section2 {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
}
#section2 .arrow {
  width: 60vh;
  height: 100vh;
  border-left: 2px solid #ccc;
  position: relative;
  margin-right: 30vh;
  background-color: #fff;
}
#section2 .arrow em {
  position: absolute;
  right: 1vh;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  color: #666;
  font-family: "Poppins";
  font-size: 2vh;
  text-transform: uppercase;
}
#section2 .arrow::before {
  content: "";
  width: 70.7vh;
  height: 2px;
  background-color: #ccc;
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: left top;
  transform: rotate(45deg);
}
#section2 .arrow::after {
  content: "";
  width: 70.7vh;
  height: 2px;
  background-color: #ccc;
  position: absolute;
  left: 0;
  bottom: 0;
  transform-origin: left bottom;
  transform: rotate(-45deg);
}
#section2 .text-title {
  color: #000;
  font-family: "Cormorant Garamond";
  text-transform: uppercase;
  writing-mode: vertical-rl;
  font-size: 40vh;
  font-weight: 100;
  letter-spacing: -2vw;
  margin-top: -23vw;
  border-right: 1px solid #f1f1f1;
}
#section2 .site {
  display: flex;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 37%,
    rgba(218, 220, 228, 1) 100%
  );
}
#section2 .img {
  width: 70vh;
  height: 100vh;
  margin-left: 50vh;
  position: relative;
  background-image: url(../../assets/images/site02.png);
  background-size: cover;
  background-position: center;
}
#section2 .text {
  width: 100vh;
  height: 35vh;
  position: relative;
  top: 45%;
  left: 10vh;
  color: #000;
}
#section2 .text h3 {
  font-family: "Cormorant Garamond";
  text-transform: uppercase;
  letter-spacing: -0.4vh;
  font-size: 12vh;
  line-height: 1.2;
}
#section2 .text p {
  font-size: 1.4vh;
  font-family: "ChosunNm";
  line-height: 1.6;
  color: #333;
  padding-left: 4vh;
}
#section2 .btn {
  margin-bottom: 10vh;
  position: absolute;
  top: 31vh;
  left: 30vh;
  display: flex;
}
#section2 .btn a {
  width: 25vh;
  height: 5vh;
  line-height: 5vh;
  color: #61677c;
  font-weight: bold;
  display: inline-block;
  border-radius: 30px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Cormorant Garamond";
  font-size: 2.2vh;
  box-shadow: -2px -2px 20px #f4f5f8, 5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  &:hover {
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
  }
  &:active {
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
  }
}
#section2 .btn a:last-child {
  margin-left: 3vh;
}
