#section2 {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  .deco__wst {
    width: 500vh;
    position: absolute;
    // border-bottom: 2px solid #000;
    // text-decoration: line-through;
    display: inline-block;
    left: -232vh;
    top: 0;
    // text-transform:lowercase;
    font-family: "Cormorant Garamond";
    font-size: 25vh;
    font-weight: 100;
  }
  .wst__wrap {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    padding: 10vh 0;
    margin-left: 30vh;

    .wst__img {
      
      width: 70vh;
      height: 80vh;
      overflow: hidden;
      visibility: hidden;
    }

    .wst__img img {
      
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: bottom;

      transform-origin: left;
    }
    .wst__img__mini {
      width: 33vh;
      height: 25vh;
      top: 15vh;
      left: 60vh;
      visibility: hidden;
      position: absolute;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform-origin: left;

        filter: saturate(0);
        &:hover {
          filter: saturate(1);
          transform: scale(101%);
        }
        position: relative;
      }
    }
    .circle2 {
      position: absolute;
        width: 200px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        color: #fff;
        font-size: 3vh;
        font-family: "Cormorant Garamond";
        left: 74vh;
        top: 83vh;
        background-color: #fff;
        text-shadow: 1px 1px 0 #fff;
        color: #61677c;
        font-weight: bold;
        box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        font-weight: 600;
      
        &:hover {
          box-shadow: -2px -2px 5px #fff, 2px 2px 5px
        }
      
        &:active {
          box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
        }
    }
    .wst__text__wrap {
      word-break: keep-all;
      width: 69vh;
      // background-color: #c41e1e;
      margin-left: 40vh;
      h3 {
        font-family: jura;
        font-size: 8vh;
        margin-bottom: 5vh;
      }
      .wst__desc {
        color: #555;
        display: inline-block;
        font-size: 1.8vh;
        line-height: 1.5;
        margin-bottom: 10vh;
      }
      .wst__desc__e {
        text-align: right;
        margin-left: 5vh;
        font-size: 1.5vh;
        color: #9caa86;
      }
    }
  }
}
//반응형
@media (max-height: 700px) {
  .wst__wrap {
    .circle2 {
      top: 83.5vh !important;
      left: 78vh !important;
        width: 150px !important;
        height: 40px !important;
        line-height: 40px !important;
    }
  }

  @media (max-height: 600px) {
    .wst__wrap {
      .circle2 {
      top: 83vh !important;
        left: 78vh !important;
        width: 150px !important;
        height: 40px !important;
        line-height: 40px !important;
      }
    }
  }
}
