#section7 {
  display: flex;
  flex-wrap: nowrap;
  background-color: #000000;
  padding-right: 10vh;
  .contact__start {
    width: 20vh;
    text-align: right;
    height: 100vh;
    line-height: 100vh;
    padding-right: 2vh;
    font-size: 2vh;
    color: #ffffff;
    border-right: 1px dotted #ffffff;
    border-left: 1px dotted #ffffff;
  }
  .contact__wrap {
    .ti2 {
      width: 145vh;
      height: 20vh;
      margin-top: 10vh;
      padding-left: 54vh;
      color: #ffffff;
      font-size: 14vh;
      font-family: "Cormorant Garamond";
      text-transform: uppercase;
    }
    .contact__info {
      padding-right: 2vh;
      padding-left: 5vh;
      width: 145vh;
      display: flex;
      // background-color: #fff;
      height: 30vh;
      justify-content: space-between;
      .info {
        margin-left: 20vh;
        margin-top: 12vh;
        width: 55vh;
        color: #ffffff;
        font-size: 4vh;
        .name {
          &:hover {
            text-decoration: underline;
          }
        }
        .birth {
          &:hover {
            text-decoration: underline;
          }
        }
        .tel {
          &:hover {
            text-decoration: underline;
          }
        }
        .mail {
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .icon__link {
        width: 45vh;
        margin-top: 10vh;
        padding-top: 5vh;
        display: flex;
        justify-content: space-between;
        .github {
          &:hover {
            text-decoration: underline;
          }
          position: relative;
          font-size: 2vh;
          margin-top: 10vh;
          &::before {
            position: absolute;
            content: "";
            width: 7vh;
            height: 7vh;
            background-image: url(../src/assets/images/github.png);
            left: -0.5vh;
            top: -10vh;
            background-position: center;
            background-size: cover;
          }
        }
        .blog {
          &:hover {
            text-decoration: underline;
          }
          position: relative;
          font-size: 2vh;
          margin-top: 10vh;
          &::before {
            position: absolute;
            content: "";
            width: 7vh;
            height: 7vh;
            background-image: url(../src/assets/images/blog.png);
            left: -1.5vh;
            top: -10vh;
            background-position: center;
            background-size: cover;
          }
        }
        .inst {
          &:hover {
            text-decoration: underline;
          }
          position: relative;
          font-size: 2vh;
          margin-top: 10vh;
          &::before {
            position: absolute;
            content: "";
            width: 7vh;
            height: 7vh;
            background-image: url(../src/assets/images/ins.png);
            left: 1vh;
            top: -10vh;
            background-position: center;
            background-size: cover;
          }
        }
      }
      .img__2 {
        width: 43vh;
        background-color: #97d139;
        position: relative;
        &:hover {
          &::before {
            position: absolute;
            content: "kimhyeonbeen";
            text-transform: uppercase;
            top: 31vh;
            letter-spacing: 15px;
            font-size: 2.5vh;
            color: #ffffff;
            transform: rotate(90deg);
            left: -23.5vh;
          }
        }
      }
    }
  }
}
